---
import PageHeading from "../components/page-heading.astro";
import PageLayout from "../components/page-layout.astro";
import { PLANT_PAGE_SIZE } from "../constants";
import { LoadPlants } from "../islands/load-plants";
import { db } from "../libs/bunny-db";
import { PlantCardSchema } from "../schema";

Astro.response.headers.set("Cache-Control", "public, max-age=0, s-maxage=300, stale-while-revalidate=300");

const sql = `
    SELECT
      id,
      common_name as commonName,
      slug,
      binomial,
      image_id as imageId,
      updated_at as updatedAt
    FROM plant
    WHERE id >= ?
    LIMIT ?
  `;

const res = await db.execute({
  sql,
  args: [0, PLANT_PAGE_SIZE + 1],
});

let more = res.rows.length > PLANT_PAGE_SIZE;
let rows = res.rows;
if (more) {
  rows = rows.slice(0, PLANT_PAGE_SIZE);
}

const seed = rows.map((row) => PlantCardSchema.parse(row));
---

<PageLayout>
  <div class="py-4">
    <PageHeading class="mb-6">Plants</PageHeading>
    <LoadPlants
      client:load
      seed={seed}
      more={more}
    />
  </div>
</PageLayout>
