---
import "@fontsource/merriweather-sans/400.css";
import "@fontsource/merriweather-sans/700.css";
import "@fontsource/merriweather/400.css";
import "@fontsource/merriweather/700.css";
import "@fontsource/merriweather/900.css";
import "../app.tailwind.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>Native Plant Index</title>
  </head>
  <body>
    <slot />
  </body>
</html>
