---
// TODO: feet conversion
type Props = {
  min?: number;
  max?: number;
};

const { min, max } = Astro.props;

if (!min) {
  throw new Error("missing min");
}

if (!max) {
  throw new Error("missing min");
}
---

{min === max && <div>{min}"</div>}

{
  min !== max && (
    <div>
      <span>{min}"</span>
      <span> to </span>
      <span>{max}"</span>
    </div>
  )
}
